.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
    color: #aaa;
}

.rate > label {
    float: right;
}


.rate > label:before {
    display: inline-block;
    font-size: 20px;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}


.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}


input:checked~label,
label:hover~label {
    color: #d4af37;
}


input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
    color: #856d21;
}

.rating-star i {
    color: #d4af37 !important;
}



.review-box {
    width: 60%;
}

#cstreview{
    border: 2.5px ridge #d4af37;
    width: 65%;
}